<h2 class="text-xl font-bold mx-10">INICIO</h2>
<div class="md:flex rounded-xl p-8 md:p-0 mx-10">
  <div class="pt-6 md:p-8 text-center md:text-left space-y-4 mx-auto">
    <div class="text-lg font-medium">
      <p>
        En este apartado vamos a encontrar la informacion de la capacitación.
      </p>
      <p>
        Se incluyeron las tres pantallas: Login,
        <a href="#/dashboard">Dashboard</a> and <a href="#/profile">Profile</a>
      </p>
    </div>
  </div>
</div>
<!-- cards -->
<div
  class="grid grid-cols-1 grid-rows-1 sm:grid-cols-3 gap-4 text-center my-6 mx-10 text-sm"
>
  <!-- col-primerElemento -->
  <div
    class="max-w-sm rounded-lg overflow-hidden shadow-lg hover:bg-gray-800 hover:text-white"
  >
    <img class="w-full" src="" alt="Perfil" />
    <div class="px-6 py-4">
      <a href="#/profile" class="font-bold text-xl mb-2">Perfil</a>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#profile</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#perfil</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#form</span
      >
    </div>
  </div>
  <!-- col-primerElemento -->
  <!-- col-segundoElemento -->
  <div
    class="max-w-sm rounded-lg overflow-hidden shadow-lg hover:bg-gray-800 hover:text-white"
  >
    <img class="w-full" src="" alt="Dashboard" />
    <div class="px-6 py-4">
      <a href="#/dashboard" class="font-bold text-xl mb-2">Dashboard</a>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#dashboard</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#tablero</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#info</span
      >
    </div>
  </div>
  <!-- col-segundoElemento -->
  <!-- col-tercerElemento -->
  <div
    class="max-w-sm rounded-lg overflow-hidden shadow-lg hover:bg-gray-800 hover:text-white"
  >
    <img class="w-full" src="" alt="Login" />
    <div class="px-6 py-4">
      <a href="/login" class="font-bold text-xl mb-2">Login</a>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#login</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#ingreso</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#register</span
      >
    </div>
  </div>
  <!-- col-tercerElemento -->
</div>
